---
title: Ověření zaměstnání – ověření i9
description: Zákon IRCA (Immigration Reform and Control Act) vyžaduje od amerických zaměstnavatelů při přijímání nových zaměstnanců ověřovat jejich stavu nároku.
author: ShielaSogge
ms.date: 01/10/2022
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: twheeloc
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: ea77f112413a5b7d5c96768ad46fdb361023bd84
ms.sourcegitcommit: 27475081f3d2d96cf655b6afdc97be9fb719c04d
ms.translationtype: HT
ms.contentlocale: cs-CZ
ms.lasthandoff: 01/12/2022
ms.locfileid: "7964876"
---
# <a name="employment-verification-i9-verification"></a>Ověření zaměstnání – ověření i9

[!include [banner](../../../includes/banner.md)]

Zákon IRCA (Immigration Reform and Control Act) vyžaduje od amerických zaměstnavatelů při přijímání nových zaměstnanců ověřovat jejich stavu nároku. Tento postup vás provede kroky potřebné k zaznamenání potřebných dokumentů pro ověření I-9. Pro tento postup použijte společnost USMF.

1. Přejděte k nabídce **Lidské zdroje \> Pracovníci \> Zaměstnanci**.
2. Použijte rychlý filtr pro hledání záznamů. Můžete například filtrovat hodnotu **Vince** v poli **Jméno**.
3. Vyberte zaměstnance. Například vyberte **Vince Prado**.
4. Vyberte pevnou záložku **Osobní údaje**.
5. Vyberte **Identifikační čísla**.
6. Zvolte **Nové**.
7. Vyberte typ identifikace, který chcete zaznamenat. Například vyberte **Pas**.
8. Zadejte hodnotu do pole **Číslo**.
9. V poli **Primární** vyberte **Ano**.
10. Do pole **Popis** zadejte stručný popis identifikačního záznamu.
11. V poli **Vydávající úřad** vyberte úřad, který vydal identifikační dokument pracovníkovi. Například vyberte **Stát**.
12. Zadejte datum, kdy vydávající úřad vydal identifikační dokument pracovníkovi. Například zadejte datum **15. 2. 2011** (15. února 2011).
13. Zadejte datum skončení platnosti způsob identifikačního dokumentu. Například zadejte datum **15. 2. 2021** (15. února 2021).
14. Zvolte možnost **Uložit**.
15. Zavřete stránku.
16. Vyberte kartu **Zaměstnání**.
17. Vyberte **I-9**.
18. Zvolte **Nové**.
19. Vyberte možnost v poli **Pracovní způsobilost**.

    Není-li zaměstnanec občanem Spojených států amerických nebo nemá-li toto občanství, je třeba zadat pro tohoto pracovníka číslo rezidentního cizince nebo číslo povolení.

20. Vyberte možnost **GroupListA**.

    Seznam, který jste vybrali, závisí na tom, jaký typ identifikace pracovník poskytl. Pracovník musí předložit buď jeden dokument ze seznamu A, nebo jeden dokument ze seznamu B a seznamu C. Pokud například pracovník poskytl cestovní pas, můžete vybrat seznam A. Pokud však pracovník poskytl pouze řidičský průkaz a kartu sociálního zabezpečení, musíte vybrat seznam B a seznam C.

21. V poli **Typ dokumentu I-9** vyberte typ dokumentu, který pracovník poskytl.
22. V poli **Číslo dokumentu** zadejte nebo vyberte hodnotu.
23. Zvolte možnost **Uložit**.

[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]
