--- 
title: "Ověřování zaměstnanců pomocí formuláře I-9"
description: "Zákon IRCA (Immigration Reform and Control Act) vyžaduje od amerických zaměstnavatelů při přijímání nových zaměstnanců ověřovat jejich stavu nároku."
author: ShielaSogge
manager: AnnBe
ms.date: 06/23/2016
ms.topic: business-process
ms.prod: 
ms.service: dynamics-ax-applications
ms.technology: 
audience: Application User
ms.reviewer: rschloma
ms.search.scope: Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: AX 7.0.0
ms.translationtype: HT
ms.sourcegitcommit: 7e0a5d044133b917a3eb9386773205218e5c1b40
ms.openlocfilehash: 0841cd664a842880f24c30090a33d846b0c08ac4
ms.contentlocale: cs-cz
ms.lasthandoff: 09/29/2017

---
# <a name="employment-verification-using-form-i-9"></a>Ověřování zaměstnanců pomocí formuláře I-9

[!include[task guide banner](../../../includes/task-guide-banner.md)]

Zákon IRCA (Immigration Reform and Control Act) vyžaduje od amerických zaměstnavatelů při přijímání nových zaměstnanců ověřovat jejich stavu nároku. Tento postup vás provede kroky potřebné k zaznamenání potřebných dokumentů pro ověření I-9. Pro tento postup použijte společnost USMF.

1. Přejděte k nabídce Lidské zdroje > Pracovníci > Zaměstnanci.
2. Použijte rychlý filtr pro hledání záznamů. Můžete například filtrovat v poli Jméno pomocí hodnoty „Vince“.
3. Vyberte zaměstnance. Příklad: Vince Prado
4. Rozbalte pevnou záložku Osobní údaje.
5. Klikněte na možnost Identifikační čísla.
6. Klepněte na možnost Nový.
7. Vyberte typ identifikace, který chcete zaznamenat. Příklad: Cestovní pas
8. Zadejte hodnotu do pole Číslo.
9. Vyberte možnost Ano v poli Primární.
10. Do pole Popis zadejte stručný popis identifikačního záznamu.
11. U vydávajícího úřadu vyberte úřad, který vydal identifikační dokument pracovníkovi. Příklad: Vláda
12. Zadejte datum, kdy vydávající úřad vydal identifikační dokument pracovníkovi. Příklad: 15/02/2011
13. Zadejte datum skončení platnosti způsob identifikačního dokumentu. Příklad: 15/2/2021
14. Klikněte na položku Uložit.
15. Zavřete stránku.
16. Klikněte na kartu Zaměstnání.
17. Klikněte na položku I-9.
18. Klikněte na položku Nová.
19. Vyberte možnost v poli Pracovní způsobilost.
    * Není-li zaměstnanec občanem Spojených států amerických nebo nemá-li toto občanství, je třeba zadat pro tohoto pracovníka číslo rezidentního cizince nebo číslo povolení.  
20. Vyberte možnost GroupListA.
    * Seznam, který jste vybrali, závisí na tom, jaký typ identifikace pracovník poskytl. Pracovník musí zadat jeden dokument seznamu A nebo jeden dokument ze seznamu B nebo C. Například pokud pracovníka poskytl pas, lze vybrat seznam A. Avšak pokud pracovník poskytl pouze svůj řidičský průkaz a průkaz účastníka sociálního zabezpečení, potom je třeba zvolit seznam B a C.  
21. V poli Typ dokumentu I-9 vyberte typ dokumentu, který pracovník poskytl.
22. V poli Číslo dokumentu zadejte nebo vyberte hodnotu.
23. Klikněte na položku Uložit.


