--- 
title: "Ověření zaměstnání – ověření i9"
description: "Zákon IRCA (Immigration Reform and Control Act) vyžaduje od amerických zaměstnavatelů při přijímání nových zaměstnanců ověřovat jejich stavu nároku."
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: 
ms.service: dynamics-ax-applications
ms.technology: 
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: josaw
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.translationtype: HT
ms.sourcegitcommit: 0312b8cfadd45f8e59225e9daba78b9e216cff51
ms.openlocfilehash: 4d7346507179d237f60459978b9b7c6351f48611
ms.contentlocale: cs-cz
ms.lasthandoff: 09/14/2018

---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="93f22-103">Ověření zaměstnání – ověření i9</span><span class="sxs-lookup"><span data-stu-id="93f22-103">Employment verification i9 verification</span></span>

[!include [task guide banner](../../../includes/task-guide-banner.md)]

<span data-ttu-id="93f22-104">Zákon IRCA (Immigration Reform and Control Act) vyžaduje od amerických zaměstnavatelů při přijímání nových zaměstnanců ověřovat jejich stavu nároku.</span><span class="sxs-lookup"><span data-stu-id="93f22-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="93f22-105">Tento postup vás provede kroky potřebné k zaznamenání potřebných dokumentů pro ověření I-9.</span><span class="sxs-lookup"><span data-stu-id="93f22-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="93f22-106">Pro tento postup použijte společnost USMF.</span><span class="sxs-lookup"><span data-stu-id="93f22-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="93f22-107">Přejděte k nabídce Lidské zdroje > Pracovníci > Zaměstnanci.</span><span class="sxs-lookup"><span data-stu-id="93f22-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="93f22-108">Použijte rychlý filtr pro hledání záznamů.</span><span class="sxs-lookup"><span data-stu-id="93f22-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="93f22-109">Můžete například filtrovat v poli Jméno pomocí hodnoty „Vince“.</span><span class="sxs-lookup"><span data-stu-id="93f22-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="93f22-110">Vyberte zaměstnance.</span><span class="sxs-lookup"><span data-stu-id="93f22-110">Select the employee.</span></span> <span data-ttu-id="93f22-111">Příklad: Vince Prado</span><span class="sxs-lookup"><span data-stu-id="93f22-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="93f22-112">Rozbalte pevnou záložku Osobní údaje.</span><span class="sxs-lookup"><span data-stu-id="93f22-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="93f22-113">Klikněte na možnost Identifikační čísla.</span><span class="sxs-lookup"><span data-stu-id="93f22-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="93f22-114">Klepněte na možnost Nový.</span><span class="sxs-lookup"><span data-stu-id="93f22-114">Click New.</span></span>
7. <span data-ttu-id="93f22-115">Vyberte typ identifikace, který chcete zaznamenat.</span><span class="sxs-lookup"><span data-stu-id="93f22-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="93f22-116">Příklad: Cestovní pas</span><span class="sxs-lookup"><span data-stu-id="93f22-116">Example: Passport</span></span>
8. <span data-ttu-id="93f22-117">Zadejte hodnotu do pole Číslo.</span><span class="sxs-lookup"><span data-stu-id="93f22-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="93f22-118">Vyberte možnost Ano v poli Primární.</span><span class="sxs-lookup"><span data-stu-id="93f22-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="93f22-119">Do pole Popis zadejte stručný popis identifikačního záznamu.</span><span class="sxs-lookup"><span data-stu-id="93f22-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="93f22-120">U vydávajícího úřadu vyberte úřad, který vydal identifikační dokument pracovníkovi.</span><span class="sxs-lookup"><span data-stu-id="93f22-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="93f22-121">Příklad: Vláda</span><span class="sxs-lookup"><span data-stu-id="93f22-121">Example: Government</span></span>
12. <span data-ttu-id="93f22-122">Zadejte datum, kdy vydávající úřad vydal identifikační dokument pracovníkovi.</span><span class="sxs-lookup"><span data-stu-id="93f22-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="93f22-123">Příklad: 15/02/2011</span><span class="sxs-lookup"><span data-stu-id="93f22-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="93f22-124">Zadejte datum skončení platnosti způsob identifikačního dokumentu.</span><span class="sxs-lookup"><span data-stu-id="93f22-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="93f22-125">Příklad: 15/2/2021</span><span class="sxs-lookup"><span data-stu-id="93f22-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="93f22-126">Klikněte na položku Uložit.</span><span class="sxs-lookup"><span data-stu-id="93f22-126">Click Save.</span></span>
15. <span data-ttu-id="93f22-127">Zavřete stránku.</span><span class="sxs-lookup"><span data-stu-id="93f22-127">Close the page.</span></span>
16. <span data-ttu-id="93f22-128">Klikněte na kartu Zaměstnání.</span><span class="sxs-lookup"><span data-stu-id="93f22-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="93f22-129">Klikněte na položku I-9.</span><span class="sxs-lookup"><span data-stu-id="93f22-129">Click I-9.</span></span>
18. <span data-ttu-id="93f22-130">Klikněte na položku Nová.</span><span class="sxs-lookup"><span data-stu-id="93f22-130">Click New.</span></span>
19. <span data-ttu-id="93f22-131">Vyberte možnost v poli Pracovní způsobilost.</span><span class="sxs-lookup"><span data-stu-id="93f22-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="93f22-132">Není-li zaměstnanec občanem Spojených států amerických nebo nemá-li toto občanství, je třeba zadat pro tohoto pracovníka číslo rezidentního cizince nebo číslo povolení.</span><span class="sxs-lookup"><span data-stu-id="93f22-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="93f22-133">Vyberte možnost GroupListA.</span><span class="sxs-lookup"><span data-stu-id="93f22-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="93f22-134">Seznam, který jste vybrali, závisí na tom, jaký typ identifikace pracovník poskytl.</span><span class="sxs-lookup"><span data-stu-id="93f22-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="93f22-135">Pracovník musí zadat jeden dokument seznamu A nebo jeden dokument ze seznamu B nebo C. Například pokud pracovníka poskytl pas, lze vybrat seznam A.</span><span class="sxs-lookup"><span data-stu-id="93f22-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="93f22-136">Avšak pokud pracovník poskytl pouze svůj řidičský průkaz a průkaz účastníka sociálního zabezpečení, potom je třeba zvolit seznam B a C.</span><span class="sxs-lookup"><span data-stu-id="93f22-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="93f22-137">V poli Typ dokumentu I-9 vyberte typ dokumentu, který pracovník poskytl.</span><span class="sxs-lookup"><span data-stu-id="93f22-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="93f22-138">V poli Číslo dokumentu zadejte nebo vyberte hodnotu.</span><span class="sxs-lookup"><span data-stu-id="93f22-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="93f22-139">Klikněte na položku Uložit.</span><span class="sxs-lookup"><span data-stu-id="93f22-139">Click Save.</span></span>


